<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>277863819591-rbl48n2roo5m5mbu184v1tpv3asor483.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.277863819591-rbl48n2roo5m5mbu184v1tpv3asor483</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>277863819591-ggl08fr70fvfbq7oena3gc5pb32gnpu9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCymdYYa-jJCHbAsfewAvOULRL1yTkSoSI</string>
	<key>GCM_SENDER_ID</key>
	<string>277863819591</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.afkcredits</string>
	<key>PROJECT_ID</key>
	<string>afk-credits-112d2</string>
	<key>STORAGE_BUCKET</key>
	<string>afk-credits-112d2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:277863819591:ios:f33dfed0b6370e99a2c462</string>
</dict>
</plist>